.Rproj.user/*
R/.dropbox.attr
.Rhistory
.RData
.Rbuildignore
src/*.o
src/*.so
src/*.dll
inst/doc
.Rproj.user
README_cache/
docs/README_cache/
docs/articles/articles/make_data_cache/
vignettes/articles/make_data_cache/
vignettes/.build.timestamp
